{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "expect": true
  },
  "rules": {
    "no-use-before-define": [
      2,
      "nofunc"
    ]
  }
}